# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.sln.docstates

# Visual Studio
.vs/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test results
TestResults/
*.TestResults

# NuGet
*.nupkg
*.snupkg
packages/

# Rider / Resharper
.idea/
_ReSharper*/
*.DotSettings.user

# Publish
publish/

# Optional: environment files
.env
*.env
